.contacts a { color: inherit; text-decoration: none }
.contact-linkedin:hover { color: #0077b5; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s;}
.contact-google:hover { color: #d50f25; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s;}
.contact-github:hover { color: #ff9933; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s;}
